{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}
{% import "_macros.html" as macros %}

<!--Use template macro provided by Flask-PageDown from their CDN, so user can use markdown-->
{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block page_content%}
<div class="index-page">
    <div class="index-page-content">
        <div>
            {% if current_user.can(Permission.WRITE) %}
            <!--Collapse uses Bootstrap-->
            <input readOnly type="text" placeholder="Create Post" class="form-control show-post-form"
                data-toggle="collapse" data-target="#form" />
            <div class="make-post-form collapse" id="form" style="position:relative">
                <form class="form" action="" method="post" role="form">
                    {{ form.csrf_token }}
                    {{ wtf.form_field(form.title) }}
                    {{ wtf.form_field(form.text) }}
                    <div style="display:flex">
                        {{ form.submit(class="btn btn-info") }}
                    </div>
                </form>
                <button class="btn btn-danger hide-post-form"
                    style="position:absolute; margin-top:-34px; margin-left:90px"> Cancel </button>

            </div>
            {% endif %}
            <h1>Posts</h1>
            <div class="post-tabs">
                <ul class="nav nav-pills">
                    <li{% if not only_following_posts %} class="active" {% endif %}>
                        <a href="{{ url_for('main.show_all') }}">
                            All
                        </a>
                        </li>
                        {% if current_user.is_authenticated %}

                        <li{% if only_following_posts %} class="active" {% endif %}>
                            <a href="{{ url_for('main.show_following') }}">
                                Those You follow
                            </a>
                            </li>
                            {% endif %}
                </ul>
            </div>
            <!-- Remember that posts and pagination data are already
         synchronized and processed in the route-->
            {% with as_list="as_list" %}
            {% include '_posts.html' %}
            {% endwith %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'main.index') }}
            </div>
        </div>
    </div>
    <div class="index-page-sidebar">
        <h3>Hi there!</h3>
        <p>This is SmallBlog. 
            It's my first project I built before I start as a software engineer.
            It's a blogging platform built using JavaScript for the front-end, 
            Flask (i.e. Python) for the back-end, and MySQL for the database.</p>
        <p>The blog allows you to post, comment, vote on others' post and follow other users. Try it out by making an account.
            A fake email works just fine :). 
        </p>
        <p>
            The data you see is fake seed data to make the app more lively.
        </p>
        <p>Future functionalities I'm planning to implement:
            <ul>
                <li>Group posts into topics (i.e. sub-reddits)</li>
                <li>Search functionality for certain posts</li>
                <li>Any more ideas? Let me know!</li>
            </ul>
        </p>
        <p> Check out the source code on <a href="https://github.com/makeevolution/smallblog">my github</a>.</p>
        <p> More about me on <a href="https://www.aldosebastian.com">aldosebastian.com</a></p>
    </div>
</div>
{%endblock%}

<!-- Some notes:
    1. "LLL" refers to the time zone and locale settings of the server, number
        of L determines the verbosity
    2. include directive is used to be able to use _posts.html template-->